body {
  background: #F5F8FD;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  color: #1A1658;
}

.contents-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.contents {
  width: 100%;
}

.title {
  border-bottom: 2px solid #3480FF;
}