
body {
  background: #F5F8FD;
  font-family: 'Noto Sans JP', sans-serif;
  color: #1A1658;
}

header {
  max-width: 1000px;
  margin: 0 auto;
}

.contents-container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  border-bottom: 2px solid #3480FF;
}

.scroll-up {
  opacity: 0; 
  visibility: hidden;
  transform: translateY(50px);
  transition: all 1s;
}
.scroll-up.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}